{% extends "base.html" %}
{% block title %}Modifier un produit{% endblock %}

{% block content %}
<section>
    <h2>Modifier le produit {{ product.product_id }}</h2>

    <form method="post" class="entity-form">
        <label>Nom</label>
        <input type="text" name="name" value="{{ product.product_name }}">

        <label>Catégorie</label>
        <input type="text" name="category" value="{{ product.product_category }}">

        <label>Plateforme</label>
        <input type="text" name="platform" value="{{ product.product_platform }}">

        <label>ESRB</label>
        <input type="text" name="esrb" value="{{ product.product_esrb_rating }}">

        <label>Année de sortie</label>
        <input type="text" name="year" value="{{ product.product_release_year }}">

        <label>Prix (€)</label>
        <input type="text" name="price" value="{{ product.product_price }}">

        <label>Poids (g)</label>
        <input type="text" name="weight" value="{{ product.product_weight_g }}">

        <label>Description</label>
        <input type="text" name="description" value="{{ product.product_description }}">

        <button type="submit">Enregistrer</button>
        <a href="{{ url_for('products_list') }}" class="btn">Annuler</a>
    </form>
</section>
{% endblock %}